{% extends 'base.html.twig' %}

{% block title %}Description index{% endblock %}

{% block body %}
    <h1>Description index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salle_bain</th>
                <th>Chambre</th>
                <th>Capacite</th>
                <th>Jardin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for description in descriptions %}
            <tr>
                <td>{{ description.id }}</td>
                <td>{{ description.salleBain }}</td>
                <td>{{ description.chambre }}</td>
                <td>{{ description.capacite }}</td>
                <td>{{ description.jardin ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_description_show', {'id': description.id}) }}">show</a>
                    <a href="{{ path('app_description_edit', {'id': description.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_description_new') }}">Create new</a>
{% endblock %}
