{% extends 'base.html.twig' %}

{% block title %}Description{% endblock %}

{% block body %}
    <h1>Description</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ description.id }}</td>
            </tr>
            <tr>
                <th>Salle_bain</th>
                <td>{{ description.salleBain }}</td>
            </tr>
            <tr>
                <th>Chambre</th>
                <td>{{ description.chambre }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ description.capacite }}</td>
            </tr>
            <tr>
                <th>Jardin</th>
                <td>{{ description.jardin ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_description_index') }}">back to list</a>

    <a href="{{ path('app_description_edit', {'id': description.id}) }}">edit</a>

    {{ include('description/_delete_form.html.twig') }}
{% endblock %}
